# In Cloud SQL , in networks tab , we have allowed requests from colab to establish db connection.

In [ ]:
!pip install pymysql

# Connect to Cloud Sql

In [9]:
import pymysql
connection=pymysql.connect(host="34.70.162.68", user="anisharao",passwd="airbnb", db="airbnb-298")

# Show tables

In [10]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query to get the table names
    cursor.execute("SHOW TABLES")

    # Fetch all the tables
    tables = cursor.fetchall()

    # Print the table names
    print("Tables in the database:")
    for table in tables:
        print(table[0])

finally:
    # Close the cursor
    cursor.close()

Tables in the database:
airbnb_detection
airbnb_registration
airbnb_room
amenities
guest
host
images
videos

In [11]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query to drop the specified table
    cursor.execute("select * from airbnb_registration")
        # Fetch all the columns
    rows = cursor.fetchall()

    # Print the column names and information
    # print(f"Columns in the table airbnb_detection:")
    for row in rows:
        print(row)

    # Commit the changes
    # connection.commit()

    # print(f"Table amenities dropped successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

(1, 'Home INN', 'San Jose, CA 95110, USA', Decimal('100.00'))

# Three tables are:
1. Amenties -> that stores amenity names
2. airbnb_registration-> to store airbnb property details
3. airbnb_detection-> to store detections found

In [12]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query to create the amenities table
    create_table_query = """
    CREATE TABLE IF NOT EXISTS amenities (
        amenity_id INT PRIMARY KEY,
        amenity_name VARCHAR(255) NOT NULL
    )
    """
    cursor.execute(create_table_query)

    # Commit the changes
    connection.commit()

    print("Table 'amenities' created successfully.")

    # Execute a query to create the airbnb_registration table
    create_airbnb_registration_table_query = """
    CREATE TABLE IF NOT EXISTS airbnb_registration (
        airbnb_id INT ,
        airbnb_name VARCHAR(255) ,
        airbnb_location VARCHAR(255) ,
        airbnb_price DECIMAL(10, 2) ,
        PRIMARY KEY (airbnb_id, airbnb_name)
    )
    """
    cursor.execute(create_airbnb_registration_table_query)

    # Commit the changes for airbnb_registration table
    connection.commit()

    print("Table 'airbnb_registration' created successfully.")

        # Execute a query to create the airbnb_registration table
    create_airbnb_detection_table_query = """
    CREATE TABLE IF NOT EXISTS airbnb_detection (
        airbnb_id INT,
        amenity_id INT,
        amenity_count INT,
        PRIMARY KEY (airbnb_id, amenity_id),
        FOREIGN KEY (airbnb_id) REFERENCES airbnb_registration(airbnb_id),
        FOREIGN KEY (amenity_id) REFERENCES amenities(amenity_id)
    )
    """
    cursor.execute(create_airbnb_detection_table_query)

    # Commit the changes for airbnb_registration table
    connection.commit()

    print("Table 'airbnb_detection' created successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

Table 'amenities' created successfully.
Table 'airbnb_registration' created successfully.
Table 'airbnb_detection' created successfully.

# Insert into Amenities

In [ ]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Insert data into the amenities table
    classes = ['Bathtub', 'Bed', 'Billiard table', 'Ceiling fan', 'Coffeemaker', 'Couch', 'Countertop',
               'Dishwasher', 'Fireplace', 'Fountain', 'Gas stove', 'Jacuzzi', 'Kitchen & dining room table',
               'Microwave oven', 'Mirror', 'Oven', 'Pillow', 'Porch', 'Refrigerator', 'Shower', 'Sink',
               'Sofa bed', 'Stairs', 'Swimming pool', 'Television', 'Toilet', 'Towel', 'Tree house',
               'Washing machine', 'Wine rack']

    for idx, amenity_name in enumerate(classes):
        # Insert each amenity into the table
        cursor.execute("INSERT INTO amenities (amenity_id, amenity_name) VALUES (%s, %s)", (idx, amenity_name))

    # Commit the changes
    connection.commit()

    print("Data inserted into the 'amenities' table successfully.")

finally:
    # Close the cursor and connection
    cursor.close()