# In Cloud SQL , in networks tab , we have allowed requests from colab to establish db connection.

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

# Connect to Cloud Sql

In [10]:
import pymysql
connection=pymysql.connect(host="34.70.162.68", user="anisharao",passwd="airbnb", db="airbnb-298")

# Show tables

In [6]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query to get the table names
    cursor.execute("select * from airbnb_detection")

    # Fetch all the tables
    tables = cursor.fetchall()

    # Print the table names
    print("Tables in the database:")
    for table in tables:
        print(table[0])

finally:
    # Close the cursor
    cursor.close()

Tables in the database:
2

In [15]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Execute the SELECT query
    cursor.execute("DESC airbnb_detection")

    # Fetch all the rows from the result
    rows = cursor.fetchall()

    # Process and print the retrieved data
    for row in rows:
        print(row)

except pymysql.Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and connection
    cursor.close()

('airbnb_id', 'int', 'NO', '', None, '')
('amenity_id', 'int', 'NO', 'MUL', None, '')
('amenity_count', 'int', 'YES', '', None, '')
('category', 'varchar(255)', 'YES', '', None, '')

In [14]:
import pymysql



try:
    # Create a cursor
    cursor = connection.cursor()

    # Replace 'your_table_name' with your actual table name
    table_name = 'airbnb_detection'

    # Drop Primary Key Constraint
    cursor.execute(f"ALTER TABLE {table_name} DROP PRIMARY KEY;")

    # Replace 'your_foreign_key_name' with the actual foreign key name
    foreign_key_name = 'airbnb_detection_ibfk_1'

    # Drop Foreign Key Constraint
    # cursor.execute(f"ALTER TABLE {table_name} DROP FOREIGN KEY {foreign_key_name};")

    # Commit the changes
    connection.commit()
    print("Primary key and foreign key dropped successfully.")

except pymysql.Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and connection
    cursor.close()

Primary key and foreign key dropped successfully.

In [11]:

try:
    # Create a cursor
    cursor = connection.cursor()

    # Replace 'your_table_name' with your actual table name
    table_name = 'airbnb_detection'

    # Query the information schema to get foreign key names
    cursor.execute(f"""
        SELECT
            CONSTRAINT_NAME
        FROM
            INFORMATION_SCHEMA.KEY_COLUMN_USAGE
        WHERE
            TABLE_NAME = '{table_name}'
            AND REFERENCED_TABLE_NAME IS NOT NULL;
    """)

    # Fetch the results
    foreign_keys = cursor.fetchall()

    # Print the foreign key names
    if foreign_keys:
        print("Foreign Key Names:")
        for row in foreign_keys:
            print(row[0])
    else:
        print("No foreign keys found for the table.")

except pymysql.Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and connection
    cursor.close()

Foreign Key Names:
airbnb_detection_ibfk_1

# Three tables are:
1. Amenties -> that stores amenity names -> of no use
2. airbnb_registration-> to store airbnb property details
3. airbnb_detection-> to store detections found

In [12]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query to create the amenities table
    create_table_query = """
    CREATE TABLE IF NOT EXISTS amenities (
        amenity_id INT PRIMARY KEY,
        amenity_name VARCHAR(255) NOT NULL
    )
    """
    cursor.execute(create_table_query)

    # Commit the changes
    connection.commit()

    print("Table 'amenities' created successfully.")

    # Execute a query to create the airbnb_registration table
    create_airbnb_registration_table_query = """
    CREATE TABLE IF NOT EXISTS airbnb_registration (
        airbnb_id INT ,
        airbnb_name VARCHAR(255) ,
        airbnb_location VARCHAR(255) ,
        airbnb_price DECIMAL(10, 2) ,
        PRIMARY KEY (airbnb_id, airbnb_name)
    )
    """
    cursor.execute(create_airbnb_registration_table_query)

    # Commit the changes for airbnb_registration table
    connection.commit()

    print("Table 'airbnb_registration' created successfully.")

        # Execute a query to create the airbnb_registration table
    create_airbnb_detection_table_query = """
    CREATE TABLE IF NOT EXISTS airbnb_detection (
        airbnb_id INT,
        amenity_name VARCHAR(255),
        amenity_count INT,
        PRIMARY KEY (airbnb_id, amenity_name),
        CATEGORY VARCHAR(255),
        FOREIGN KEY (airbnb_id) REFERENCES airbnb_registration(airbnb_id),
    )
    """
    cursor.execute(create_airbnb_detection_table_query)

    # Commit the changes for airbnb_registration table
    connection.commit()

    print("Table 'airbnb_detection' created successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

Table 'amenities' created successfully.
Table 'airbnb_registration' created successfully.
Table 'airbnb_detection' created successfully.

# Insert into Amenities

In [ ]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Insert data into the amenities table
    classes = ['Bathtub', 'Bed', 'Billiard table', 'Ceiling fan', 'Coffeemaker', 'Couch', 'Countertop',
               'Dishwasher', 'Fireplace', 'Fountain', 'Gas stove', 'Jacuzzi', 'Kitchen & dining room table',
               'Microwave oven', 'Mirror', 'Oven', 'Pillow', 'Porch', 'Refrigerator', 'Shower', 'Sink',
               'Sofa bed', 'Stairs', 'Swimming pool', 'Television', 'Toilet', 'Towel', 'Tree house',
               'Washing machine', 'Wine rack']

    for idx, amenity_name in enumerate(classes):
        # Insert each amenity into the table
        cursor.execute("INSERT INTO amenities (amenity_id, amenity_name) VALUES (%s, %s)", (idx, amenity_name))

    # Commit the changes
    connection.commit()

    print("Data inserted into the 'amenities' table successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

# Select queries

In [6]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query to drop the specified table
    cursor.execute("select * from amenities")
        # Fetch all the columns
    rows = cursor.fetchall()

    # Print the column names and information
    # print(f"Columns in the table airbnb_detection:")
    for row in rows:
        print(row)

    # Commit the changes
    # connection.commit()

    # print(f"Table amenities dropped successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

(0, 'Bathtub', 'Bathroom')
(1, 'Bed', 'Bedroom')
(2, 'Billiard table', 'Living Room')
(3, 'Ceiling fan', 'Living Room')
(4, 'Coffeemaker', 'Kitchen')
(5, 'Couch', 'Living Room')
(6, 'Countertop', 'Kitchen')
(7, 'Dishwasher', 'Kitchen')
(8, 'Fireplace', 'Living Room')
(9, 'Fountain', 'Outdoor')
(10, 'Gas stove', 'Kitchen')
(11, 'Jacuzzi', 'Outdoor')
(12, 'Kitchen & dining room table', 'Kitchen')
(13, 'Microwave oven', 'Kitchen')
(14, 'Mirror', 'Living Room')
(15, 'Oven', 'Kitchen')
(16, 'Pillow', 'Bedroom')
(17, 'Porch', 'Outdoor')
(18, 'Refrigerator', 'Kitchen')
(19, 'Shower', 'Bathroom')
(20, 'Sink', 'Bathroom')
(21, 'Sofa bed', 'Living Room')
(22, 'Stairs', 'Outdoor')
(23, 'Swimming pool', 'Outdoor')
(24, 'Television', 'Living Room')
(25, 'Toilet', 'Bathroom')
(26, 'Towel', 'Bathroom')
(27, 'Tree house', 'Outdoor')
(28, 'Washing machine', 'Bathroom')
(29, 'Wine rack', 'Kitchen')

In [17]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query to drop the specified table
    cursor.execute("select * from airbnb_detection")
        # Fetch all the columns
    rows = cursor.fetchall()

    # Print the column names and information
    # print(f"Columns in the table airbnb_detection:")
    for row in rows:
        print(row)

    # Commit the changes
    # connection.commit()

    # print(f"Table amenities dropped successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

(2, 23, 1, None)

# Alter table amenties with category as superclass

In [8]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Modify the amenities table to add the 'category' column
    alter_table_query = "ALTER TABLE airbnb_detection ADD category VARCHAR(255)"

    # Execute the ALTER TABLE query to add the new column
    cursor.execute(alter_table_query)

    # Commit the changes
    connection.commit()

    print("Column 'category' added to the 'amenities' table successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

Column 'category' added to the 'amenities' table successfully.

In [5]:
try:
    # Create a cursor object
    cursor = connection.cursor()

    # Define the categories for each amenity
    categories = [
        'Bathroom', 'Bedroom', 'Living Room', 'Living Room', 'Kitchen', 'Living Room', 'Kitchen',
        'Kitchen', 'Living Room', 'Outdoor', 'Kitchen', 'Outdoor', 'Kitchen', 'Kitchen', 'Living Room',
        'Kitchen', 'Bedroom', 'Outdoor', 'Kitchen', 'Bathroom', 'Bathroom', 'Living Room', 'Outdoor',
        'Outdoor', 'Living Room', 'Bathroom', 'Bathroom', 'Outdoor', 'Bathroom', 'Kitchen'
    ]

    for idx, category in enumerate(categories):
        # Update the 'category' column for each amenity
        update_query = "UPDATE amenities SET category = %s WHERE amenity_id = %s"
        cursor.execute(update_query, (category, idx))

    # Commit the changes
    connection.commit()

    print("Categories added to the 'amenities' table successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

Categories added to the 'amenities' table successfully.

In [17]:
try:
    # Create a cursor object
    cursor = connection.cursor()

        # Execute a query to create the airbnb_registration table
    create_airbnb_detection_table_query = """
    CREATE TABLE IF NOT EXISTS airbnb_detection (
        airbnb_id INT,
        amenity_name VARCHAR(255),
        amenity_count INT,
        CATEGORY VARCHAR(255),
        PRIMARY KEY (airbnb_id, amenity_name),
        FOREIGN KEY (airbnb_id) REFERENCES airbnb_registration(airbnb_id)
    )
    """
    cursor.execute(create_airbnb_detection_table_query)
    cursor.execute("SELECT 1")


    # Commit the changes for airbnb_registration table
    connection.commit()

    print("Table 'airbnb_detection' created successfully.")

finally:
    # Close the cursor and connection
    cursor.close()

Table 'airbnb_detection' created successfully.

In [16]:

# try:
#     # Create a cursor
#     cursor = connection.cursor()

#     # Replace 'your_table_name' with the name of the table you want to drop
#     table_name = 'airbnb_detection'

#     # Execute the SQL statement to drop the table
#     cursor.execute(f"DROP TABLE IF EXISTS {table_name}")

#     # Commit the changes
#     connection.commit()

#     print(f"The table '{table_name}' has been dropped successfully.")

# except pymysql.Error as e:
#     print(f"Error: {e}")

# finally:
#     # Close the cursor and connection
#     cursor.close()

The table 'airbnb_detection' has been dropped successfully.